/*https://www.w3schools.com/css/css_background.asp*/
/*https://www.w3schools.com/css/css_font.asp*/
/*https://www.w3schools.com/css/css3_animations.asp*/

/*For the whole page*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    color: #ffffff;
    overflow: hidden; /*disables scroll*/
}

/*For the background*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*tints the background so the text is much more visible*/
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), 
                url('assets/loadingbg.gif') no-repeat center center;
    background-size: cover;
    display: flex;
    /*https://www.w3schools.com/CSSref/index.php*/
    flex-direction: column; /*fixes the proportions of the items*/
    align-items: center; /*centers the items*/
    justify-content: center; /* Centers items vertically up and down */
    z-index: 9999; /*will make the background go behind the text*/
    animation: introBlur 2.5s ease-out forwards; /*Blur effect*/
    transition: opacity 1.5s ease-in-out; /*fade out effect*/
}

/*animation for the blur effect*/
@keyframes introBlur {
    0% { opacity: 0; filter: blur(15px); } /*starts being blurry*/
    100% { opacity: 1; filter: blur(0px); } /*ends with the screen being clear*/
}

/*for the hideout effect*/
.hide {
    opacity: 0; /* Makes it completely see-through */
    pointer-events: none; /* Stops the user from accidental clicks on hidden elements */
}

.center { 
    text-align: center; 
}

/*title*/
.title {
    font-family: 'Jost', sans-serif;
    font-size: 1.8rem; 
    font-weight: 300;
    text-transform: uppercase; /*caps all letters*/
    letter-spacing: 12px;
}

/*distance numbers*/
.distance {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    margin-top: 20px;
    letter-spacing: 4px;
}

/*status index*/
.note {
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    margin-top: 40px;
    letter-spacing: 6px;
    text-transform: uppercase;
    opacity: 0.5;
}

/*puts the facts below*/
.footer { 
    position: absolute; 
    bottom: 50px;
    width: 100%; 
    text-align: center;
}

/*Did you know text*/
.label {
    font-family: 'Jost', sans-serif;
    font-size: 0.7rem; 
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.4; /* Makes it look like a subtle, clean caption */
    margin-bottom: 10px;
}

/*randomized space facts*/
.text {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    max-width: 550px;
    margin: 0 auto;
    line-height: 1.6; 
    font-weight: 300;
}